.center-title {
    position: absolute;
    top: 5%;
    left: 30%;
    bottom: 10%;
    color: white;
    font-family: sans-serif;
    z-index: 100;
}

.navbar-nav .mr-auto {
    display: flex;
    justify-content: left;
}